{% extends 'base.html' %}

{% block content %}

<h2>შეკვეთის დამატება</h2>

<table class="table">
<tr><th>სახელი</th><th>რაოდენობა</th><th>ჯამი</th></tr>

{% for i in items %}
<tr>
<td>{{ i.name }}</td>
<td>{{ i.qty }}</td>
<td>{{ i.subtotal }}</td>
</tr>
{% endfor %}
</table>

<h4>ჯამი: {{ total }}₾</h4>

<form method="POST">
    <input class="form-control mb-2" name="table_number" placeholder="მაგიდის ნომერი" required>

    <button class="btn btn-dark w-100">
        შეკვეთის დადასტურება
    </button>
</form>

{% endblock %}