{% extends 'base.html' %}

{% block content %}

<div class="row">

{% for food in foods %}

<div class="col-md-3 mb-4">

    <div class="card food-card">

        <img src="{{ food.Image }}" class="food-img">

        <div class="card-body d-flex flex-column">

            <h5>{{ food.Name }}</h5>

            <p class="small">{{ food.Description }}</p>

            <div class="price">₾{{ food.Price }}</div>

            <div class="mt-auto buttons">
                <button onclick="add(this.dataset.id)" data-id="{{ food.Id }}" class="btn btn-add">დამატება</button>

                {% if session.get('admin') %}
                <a href="/product/delete/{{ food.Id }}" class="btn btn-delete">წაშლა</a>
                {% endif %}
            </div>

        </div>
    </div>

</div>

{% endfor %}

</div>

<hr>

<table class="table">
<tr><th>სახელი</th><th>რაოდენობა</th><th>ჯამი</th><th>წაშლა</th></tr>

{% for i in cart_items %}
<tr>
<td>{{ i.name }}</td>
<td>{{ i.qty }}</td>
<td>{{ i.subtotal }}</td>
<td><a href="/remove/{{ i.id }}" class="btn btn-dark w-100">X</a></td>
</tr>
{% endfor %}

</table>

<h4>ჯამი: {{ total }}₾</h4>

<a href="/checkout" class="btn btn-dark w-100">გადახდა</a>

{% endblock %}
